
.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid grey;
}
.container{
  display: flex;
}

.heading {
  font-weight: bold;
  margin-bottom: 20px;
}
.descriptions {
  width: 100%;
  font-family: "Montserrat";
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 0;
  text-align: justify;
}
.Marketdata {
  align-self: flex-start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
  }
  .Marketdata {
    display: flex;
    justify-content: space-around;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .Marketdata {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .Marketdata {
    align-items: start;
  }
}